<div class="admin">
    <div class="create-orders" style="margin:0 auto">
  
  
      <form  [formGroup]="projectForms" (ngSubmit)="onSubmit()">
  
        <h1>Add new Contact</h1>
        <div class="display">
          <div class="form-one">
            <p>firstName</p>
            <input type="text" formControlName="firstName" class="form-control">
            <div *ngIf="!projectForms.get('firstName')!.valid && projectForms.get('firstName')!.touched">
              <p class="error" *ngIf="projectForms.get('firstName')!.errors!['required']">
                *firstname is required.
              </p> 
            </div>


            <p>lastName</p>
            <input type="text" formControlName="lastName" class="form-control">
            <div *ngIf="!projectForms.get('lastName')!.valid && projectForms.get('lastName')!.touched">
              <p class="error" *ngIf="projectForms.get('lastName')!.errors!['required']">
                *lastName is required.
              </p> 
            </div>


            
            <p>Email</p>
            <input type="text" formControlName="email" class="form-control">
            <div *ngIf="!projectForms.get('email')!.valid && projectForms.get('email')!.touched">
              <p class="error" *ngIf="projectForms.get('email')!.errors!['required']">
                * email cannot be empty!!.
              </p> 
            </div>
            


            <p>PhoneNumber</p>
            <input type="text" formControlName="phonenumber" class="form-control">
            <div *ngIf="!projectForms.get('phonenumber')!.valid && projectForms.get('phonenumber')!.touched">
              <p class="error" *ngIf="projectForms.get('phonenumber')!.errors!['required']">
                * PhoneNumber cannot be empty!!.
              </p> 
            </div>


            <p>Addres</p>
            <input type="text" formControlName="address" class="form-control">
            <div *ngIf="!projectForms.get('address')!.valid && projectForms.get('address')!.touched">
              <p class="error" *ngIf="projectForms.get('address')!.errors!['required']">
                * address cannot be empty!!.
              </p> 
            </div>
            
  
          </div>
          
          
        </div>
        
            <button type="submit" class="create">Create New Contacts</button>
      </form>
    </div>
  
  
  
  </div>
