<div class="col-4">
    <div class="create-orders" style="margin:0 auto">
  
  
      <form  class="p-4" [formGroup]="projectForms" (ngSubmit)="onSave()">
  
        <h3 class="text-center">Add new Contact</h3>
        <div class="display">
          <div class="form-one">
            <p>firstName</p>
            <input type="text" formControlName="firstName" class="form-control">
            <div *ngIf="!projectForms.get('firstName')!.valid && projectForms.get('firstName')!.touched">
              <p class="error" *ngIf="projectForms.get('firstName')!.errors!['required']">
                *firstname is required.
              </p> 
            </div>


            <p>lastName</p>
            <input type="text" formControlName="lastName" class="form-control">
            <div *ngIf="!projectForms.get('lastName')!.valid && projectForms.get('lastName')!.touched">
              <p class="error" *ngIf="projectForms.get('lastName')!.errors!['required']">
                *lastName is required.
              </p> 
            </div>


            
            <p>Email</p>
            <input type="text" formControlName="email" class="form-control">
            <div *ngIf="!projectForms.get('email')!.valid && projectForms.get('email')!.touched">
              <p class="error" *ngIf="projectForms.get('email')!.errors!['required']">
                * email cannot be empty!!.
              </p> 
            </div>
            


            <p>PhoneNumber</p>
            <input type="text" formControlName="phoneNumber" class="form-control">
            <div *ngIf="!projectForms.get('phoneNumber')!.valid && projectForms.get('phoneNumber')!.touched">
              <p class="error" *ngIf="projectForms.get('phoneNumber')!.errors!['required']">
                * phoneNumber cannot be empty!!.
              </p> 
            </div>


            <p>Addres</p>
          
            <input type="text" formControlName="address" class="form-control ">
            <div *ngIf="!projectForms.get('address')!.valid && projectForms.get('address')!.touched">
              <p class="error" *ngIf="projectForms.get('address')!.errors!['required']">
                * address cannot be empty!!.
              </p> 
            </div>
          

            
            
  
          </div>
          
          
        </div>
        
            <button class="btn btn-primary m-5"  type="submit">Create New Contacts</button>
      </form>
    </div>>
